﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">


    <!-- Latest compiled and minified JavaScript -->

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <script src="../Classes/Vehicle.js"></script>
    <script src="../Classes/Car.js"></script>
    <script src="../Classes/Motorbike.js"></script>
    <script src="../Classes/Space.js"></script>
    <script src="../Classes/Parking.js"></script>
    <script src="../Classes/Garage.js"></script>

    <script src="../App/VenceGarageApp.js"></script>

    <style type="text/css">
        .ng-invalid.ng-dirty {
            border-color: #FA787E;
        }
        .ng-valid.ng-dirty {
            border-color: #78FA89;
        }
    </style>
</head>
<body ng-app ="VenceGarage">
    
    <div id="levelList" class="col-md-4" ng-controller="LevelController as lpanelCtrl">
        <section>
            <ul class="nav nav-pills">
                <li ng-class="{ active : lpanelCtrl.isSelected(1) }"><a href ng-click="lpanelCtrl.selectItem(1)">List Levels</a></li>
                <li ng-class="{ active : lpanelCtrl.isSelected(2) }"><a href ng-click="lpanelCtrl.selectItem(2)">Create Level</a></li>
            </ul>
        </section>
        <div ng-show="lpanelCtrl.isSelected(2)">
            <form name="frmLevel" ng-submit="frmLevel.$valid && lpanelCtrl.addLevel()" novalidate>
                <p><h2>Create level</h2></p>
                <p>
                    Name: <input type="text" id="txtLevel" ng-model="lpanelCtrl.currentParking.level" required />
                </p>
                <p>
                    Number of spaces: <input type="number" id="txtSpaces" ng-model="lpanelCtrl.currentParking.spaces" required />
                </p>
                <p>
                    <input type="submit" id="btnAddLevel" value="Add Level" />
                </p>
            </form>
        </div>
        <div ng-show="lpanelCtrl.isSelected(1)">
            <p><h2>Levels</h2></p>
            <p>
                <ul ng-repeat="lev in lpanelCtrl.parkingList">
                    <li>{{lev.level}} - {{lev.maxSpace}} spaces</li>
                </ul>
            </p>
        </div>
        <div id="vehicles" ng-controller="VehicleController as vCtrl">
            <section>
                <ul class="nav nav-pills">
                    <li ng-class="{ active : vCtrl.isSelected(1) }"><a href ng-click="vCtrl.selectItem(1)">List vehicles</a></li>
                    <li ng-class="{ active : vCtrl.isSelected(2) }"><a href ng-click="vCtrl.selectItem(2)">Create vehicle</a></li>
                </ul>
            </section>
            <div ng-show="vCtrl.isSelected(2)">
                <form name="frmVehicle" ng-submit="frmVehicle.$valid && vCtrl.addVehicle()" novalidate>
                    <p><h2>Create vehicle</h2></p>
                    <p>
                        Name: <input type="text" id="txtVehicleName"  ng-model="vCtrl.currentVehicle.name" required />
                    </p>
                    <p>
                        License plate: <input type="text" id="txtLicensePlate" ng-model="vCtrl.currentVehicle.licensePlate" required />
                    </p>
                    <p>
                        Color: <input type="text" id="txtColor" ng-model="vCtrl.currentVehicle.color" />
                    </p>
                    <p>
                        Type:
                        <input type="radio" id="optType" value="1" ng-model="currentTypeVehicle" required />Car
                        <input type="radio" id="optType" value="2" ng-model="currentTypeVehicle" required />Motorcyle
                    </p>
                    <p>
                        <input type="submit" id="btnAddVehicle" value="Add Vehicle" />
                    </p>
                </form>
            </div>
            <div ng-show="vCtrl.isSelected(1)">
                <p><h2>Vehicles</h2></p>
                <p>
                    <ul>
                        <li>
                            Cars
                            <ul ng-repeat="car in vCtrl.carsList">
                                <li>{{car.name}}</li>
                            </ul>
                        </li>
                        <li>
                            Motorcycle
                            <ul ng-repeat="mc in vCtrl.motorcycleList">
                                <li>{{mc.name}}</li>
                            </ul>
                        </li>
                    </ul>
                </p>
            </div>
        </div>
    </div>

    <div id="parking" class="col-md-8" ng-controller="ParkingController as parkCtrl">
        <section>
            <ul class="nav nav-pills">
                <li ng-class="{ active : parkCtrl.isSelected(1) }"><a href ng-click="parkCtrl.selectItem(1)">Parking Status</a></li>
                <li ng-class="{ active : parkCtrl.isSelected(2) }"><a href ng-click="parkCtrl.selectItem(2)">Check-in Vehicle</a></li>
            </ul>
        </section>
        <div ng-show="parkCtrl.isSelected(1)">
            <p><h2>Parking Status</h2></p>
            <p>
                <div class="col-md-10" style="background-color: #B5AFAF; margin-top: 10px;">
                    <div class="col-md-5">
                        M - X 897
                    </div>
                    <div class="col-md-5">
                        Level 1
                    </div>
                    <div class="col-md-5">
                        Car
                    </div>
                    <div class="col-md-5">
                        Slot: 23
                    </div>
                </div>
                <div class="col-md-10" style="background-color: #B5AFAF; margin-top: 10px;">
                    <div class="col-md-5">
                        M - X 897
                    </div>
                    <div class="col-md-5">
                        Level 1
                    </div>
                    <div class="col-md-5">
                        Car
                    </div>
                    <div class="col-md-5">
                        Slot: 23
                    </div>
                </div>
            </p>
        </div>
        <div ng-show="parkCtrl.isSelected(2)">
            <p><h2>Check-in Vehicle</h2></p>
            <p>
                <div class="col-md-5">
                    Which level?
                </div>
                <div class="col-md-5">
                    <select id="cmbLevels" ng-options="item.Id as item.level for item in parkCtrl.levelList" ng-model="parkCtrl.levelList.level">
                        <option value="" selected="selected"></option>
                    </select>
                </div>
                <div class="col-md-5">
                    Which vehicle?
                </div>
                <div class="col-md-5">
                    <select id="cmbVehicle" ng-options="item.Id as item.name for item in parkCtrl.vList" ng-model="parkCtrl.vList.name">
                        <option value="" selected="selected"></option>
                    </select>
                </div>
            </p>
        </div>
    </div>
</body>
</html>
